@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

nav .nav-text{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #001F3F;
}

@font-face {
    font-family: 'Lato-Medium';
    src: url('../font/Lato-Medium.ttf');
  }

.logo {
    margin-top: 61px;
}

/* navbar */
nav {
box-shadow: 0px 2px 2px 0px rgba(0, 31, 63, 0.25);
}
.nav-content {
    /* margin: 0px 63px; */
    gap: 10px;
}

nav .logo-img {
    padding: 17px 0px;
}
nav .user-img {
    padding: 7px 0px;
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: 71px;
    right: 0%;
}

.nav-drop {
    border-radius: 0%;
    background: #FFF;
    border: none;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.itm-2 {
    padding: 10px 20px;
    color: #001F3F;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    border-bottom: 1px solid #F5F5F5;
}

.itm-2 svg {
    margin-left: 10px;
}

/* form starts here  */
.formText {
    /* margin-top: 25px; */
    margin-top: 105px
}

.formText h2 {
    color: #001F3F;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 10px;
}

.formText h6 {
    /* font-family: 'Lato-Medium'; */
    font-weight: 600;
    color: #2A2A2A;
    letter-spacing: 0.32px;
    margin-bottom: 20px;
}

.submit-btn {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: #0D429D;
    padding: 10px 54px;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #0D429D;
}



/* footer  */

.foot {
    color: #001F3F;
    font-size: 12px;
    margin-bottom: 15px;
}

/* dropdown */
.dropdown {
    margin-bottom: 20px;
}

.drop-btn {
    color: #9D9D9D;
    /* font-family: 'Lato-Medium'; */
    /* font-weight: 600; */
    min-width: 283px;
    font-size: 16px;
    padding: 10px;
    transition: ease-out 0.3s;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  }
  
.drop-btn:hover {
    color: #9D9D9D;
    box-shadow: 0px 2px 10px 0px rgba(150, 229, 255, 0.25) inset;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    color: #60A0D6;
    background-color: unset;
    border-color: unset;
}


.drop-menu {
    border: none;
    padding: 0;
   
  }

.itm {
    margin-bottom: 2px;
}

.itm:hover {
    color: #60A0D6;
    border: 1px solid #60A0D6;
}


/* Responsive  */

@media (max-width: 768px) {
    /* Your mobile-specific header styles go here */

    nav {
        flex-wrap: nowrap;
    }

    nav h5 {
        display: none;
    }

    .nav-content {
        margin: 0px;
    }
}

@media (max-width: 540px) {
    
    .formText h2 {
        /* font-size: 21px; */
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .formText h6 br {
       display: none;
    }

    .formText h6 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}