@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

nav .nav-text{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #001F3F;
}

@font-face {
    font-family: 'Lato-Medium';
    src: url('../font/Lato-Medium.ttf');
  }

.logo {
    margin-top: 61px;
}

/* navbar */
nav {
box-shadow: 0px 2px 2px 0px rgba(0, 31, 63, 0.25);
}
.nav-content {
    margin: 0px 63px;
    gap: 10px;
}

nav .logo-img {
    padding: 17px 0px;
}
nav .user-img {
    padding: 7px 0px;
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: 71px;
    right: 0%;
}

.nav-drop {
    border-radius: 0%;
    background: #FFF;
    border: none;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.itm-2 {
    padding: 10px 20px;
    color: #001F3F;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    border-bottom: 1px solid #F5F5F5;
}

.itm-2 svg {
    margin-left: 10px;
}


.headText {
    margin-top: 105px;
}

.headText h2 {
    color: #001F3F;
    font-family: 'Montserrat Alternates', sans-serif;
    /* margin-bottom: 10px; */
}

.headText .back-btn a {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Lato-Medium';

}

.headText .back-btn svg {
    padding-bottom: 2px;
}

.sub-heading h6 {
    /* font-family: 'Lato-Medium'; */
    font-weight: 600;
    color: #2A2A2A;
    letter-spacing: 0.32px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.formText .h6 {
    color: #001F3F;
    font-family: "Montserrat Alternates";
}

/* name and email inputs */

form .validation {
    font-family: 'Lato-Medium';
    font-size: 12px;
    color: #FF0000;
}

.formText input {
    border: none;
    border-bottom: 1px solid #A1A1A1;
    border-radius: 0;
    /* width: 525px; */
}

.formText input::placeholder {
    color: #9D9D9D;
}

input.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #A1A1A1;
}

.inp-element {
    margin-top: 15px;
}

.submit-btn {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: #0D429D;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 25px 0px;
}

.submit-btn:hover {
    background-color: #0D429D;
}

/* modal */

.modal-cont {
    padding: 15px 30px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 31, 63, 0.25);
}

.modal-cont h4 {
    color: #001F3F;
    font-family: 'Montserrat Alternates', sans-serif;
}

.modal-cont>.modal-body {
    color: #2A2A2A;
    letter-spacing: 0.32px;
}

.okay-btn {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: #0D429D;
    padding: 10px 41.5px;
    border-radius: 5px;
    /* font-weight: 600; */
}

.okay-btn:hover {
    background-color: #0D429D;
}


/* footer  */

.foot {
    color: #001F3F;
    font-size: 12px;
    margin-bottom: 15px;
    /* position: fixed;
    bottom: 0;
    left: 33%; */
    
}

/* Responsive  */

@media (max-width: 768px) {
    /* Your mobile-specific header styles go here */

    nav {
        flex-wrap: nowrap;
    }

    nav h5 {
        display: none;
    }

    .nav-content {
        margin: 0px;
    }

    .formText {
        margin-top: 1.2rem !important;
    }

    .foot {
        position: static;
    }
}

@media (max-width: 540px) {
    
    .headText h2 {
        /* font-size: 21px; */
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .sub-heading h6 br {
       display: none;
    }

    .formText h6 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .formText {
        margin-top: 1.2rem !important;
        padding: 0% !important;
    }

    .headText .back-btn-text {
        display: none;
     }
 
     .headText h2 {
         padding: 0 !important;
     }
 
}

